#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include <resources.h>

1001               ICON           "file-vtf.ico"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
	FILEVERSION		1,2,1,0
	PRODUCTVERSION	2,8,0,0
	FILETYPE		VFT_APP
	FILESUBTYPE		VFT2_UNKNOWN
	FILEFLAGSMASK	0x00000000
	FILEFLAGS		0x00000000
{
	BLOCK "StringFileInfo"
	{
		BLOCK "08090025"
		{
			VALUE "Comments", "Adds Valve Texture Format support to the GIMP"
			VALUE "FileDescription", "GIMP VTF plugin"
			VALUE "FileVersion", "1.231"
			VALUE "InternalName", "file-vtf"
			VALUE "OriginalFilename", "file-vtf.exe"
			VALUE "ProductName", "GIMP"
			VALUE "ProductVersion", "2.8.0"
			VALUE "LegalCopyright", "LGPL 2.1"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0809, 0x0025
	}
}

MO_FILE_EN IDR_LOCALISATION "file-vtf_en.mo"
